shared/config/schemas/acesgamutcompress.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sgo="http://www.sgo.es/2017/sgo.xsd">
 <xsd:element name="ACESGamutCompress" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="objectName" sgo:visibility="0" type="xsd:string" sgo:sortOrder="0"/>
    <xsd:element name="color" sgo:visibility="0" type="color" sgo:sortOrder="1"/>
    <xsd:element name="bypassEnabled" sgo:visibility="0" type="xsd:boolean" sgo:sortOrder="2"/>
    <xsd:element name="Inverse" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="1000">
     <xsd:complexType>
       <xsd:sequence>
			<xsd:element name="Inverse" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="100"/>	  
	   </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
