shared/config/schemas/arrifile.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ARRIFile" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="url" type="universalPath" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('Arri File (*.ari *.arx *.mxf)')|fileDialogWindowTitle('Select an Arri File')" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="ariContainerType" type="integerPulldown" sgo:integerPulldownValues="Sequence (ari,arx)$$$0|Movie (mxf)$$$1" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="debayer" type="integerPulldown" sgo:integerPulldownValues="From File$$$0|Custom$$$1" sgo:visibility="0" sgo:sortOrder="14"/>
                <xsd:element name="ariColorSpace" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="15" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_ariColorSpaceList"/>
                <xsd:element name="gamut" type="label" sgo:visibility="0" sgo:sortOrder="16"/>
                <xsd:element name="changeariISO" type="xsd:boolean" sgo:minValue="50" sgo:visibility="0" sgo:sortOrder="17"/>
                <xsd:element name="ariISO" type="xsd:integer" sgo:minValue="0" sgo:maxValue="5000" sgo:visibility="0" sgo:sortOrder="18"/>
                <xsd:element name="changeariKelvin" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="19"/>
                <xsd:element name="ariKelvin" type="xsd:integer" sgo:minValue="0" sgo:maxValue="20000" sgo:visibility="0" sgo:sortOrder="20"/>
                <xsd:element name="changeariTint" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="21"/>
                <xsd:element name="ariTint" type="xsd:decimal" sgo:decimalMinValue="-12" sgo:decimalMaxValue="22" sgo:visibility="0" sgo:sortOrder="22"/>
                <xsd:element name="ariAnamorphFactor" type="integerPulldown" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_ariAnamorphFactorList" sgo:visibility="0" sgo:sortOrder="23"/>
                <xsd:element name="ariSharpness" type="xsd:decimal" sgo:decimalMinValue="-5" sgo:decimalMaxValue="5" sgo:visibility="0" sgo:sortOrder="24"/>
                <xsd:element name="ariReduceFactor" type="stringPulldown" sgo:stringPulldownValues="1:1$$$1|1:2$$$2|1:4$$$3|1:8$$$4|Full Sensor$$$5" sgo:visibility="0" sgo:sortOrder="25"/>
                <xsd:element name="metadata" type="mediaFileInfoWidget" sgo:visibility="0" sgo:sortOrder="50"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
