shared/config/schemas/changecurvesdata.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="ChangeCurvesData" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
        <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
        <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
        <xsd:element name="preset" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="24" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_presetKeyList"/>
        <xsd:element name="jsonCurvesData" type="textEditor" sgo:visibility="0" sgo:sortOrder="25"/>
	    <xsd:element name="schemaName" type="xsd:anyURI" sgo:visibility="0" sgo:sortOrder="50" sgo:properties="pathNameFilters('xsd Files (*.xsd)')"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
