shared/config/schemas/classifybyextension.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="ClassifyByExtension" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
			<xsd:element name="extensions" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="caseSensitive" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="14"/>
            <xsd:element name="filterMode" type="integerPulldown" sgo:integerPulldownValues="Exact Match$$$0|Starts With$$$1|Contains$$$2|Ends With$$$3" sgo:visibility="0" sgo:sortOrder="17"/>
			<xsd:element name="errorMode" type="integerPulldown" sgo:integerPulldownValues="None$$$0|Info$$$1|Warning$$$2|Critical$$$3" sgo:visibility="0" sgo:sortOrder="20"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
