shared/config/schemas/classifybysize.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ClassifyBySize" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="classifyMode" type="integerPulldown" sgo:integerPulldownValues="Less/Equal/Greater$$$0|Ranges$$$1" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="value" type="xsd:integer" sgo:minValue="0" sgo:visibility="0" sgo:sortOrder="10"/>
                <xsd:element name="valueRanges" type="xsd:string" sgo:visibility="0" sgo:sortOrder="20"/>
                <xsd:element name="units" type="integerPulldown" sgo:integerPulldownValues="B$$$1|KB$$$1024|MB$$$1048576|GB$$$1073741824" sgo:visibility="0" sgo:sortOrder="30"/>
                <xsd:element name="errorMode" type="integerPulldown" sgo:integerPulldownValues="None$$$0|Info$$$1|Warning$$$2|Critical$$$3" sgo:visibility="0" sgo:sortOrder="40"/>
                <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="50"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
