shared/config/schemas/classifybyaspectratio.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="ClassifyByAspectRatio" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="outputList" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
            <xsd:element name="threshold" type="xsd:decimal" sgo:decimalMinValue="0.00" sgo:decimalMaxValue="100.00" sgo:decimalStepValue="0.01" sgo:decimalDigits="2" sgo:visibility="0" sgo:sortOrder="12"/>
			<xsd:element name="errorMode" type="integerPulldown" sgo:integerPulldownValues="None$$$0|Info$$$1|Warning$$$2|Critical$$$3" sgo:visibility="0" sgo:sortOrder="15"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
