shared/config/schemas/csvtodfilt.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="CSVToDFILT" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
		    <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>	
            <xsd:element name="headerDefault" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="bodyDefault" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
            <xsd:element name="footerDefault" type="xsd:string" sgo:visibility="0" sgo:sortOrder="12"/>
            <xsd:element name="delimiter" type="xsd:string" sgo:visibility="0" sgo:sortOrder="20"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
			<xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="500">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
