shared/config/schemas/dcpreel.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="DCPReel" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="resolution" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="4" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_resolutionList"/>
                <xsd:element name="aspectRatio" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="5" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_aspectRatioList"/>
                <xsd:element name="frameRate" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="6" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_frameRateList"/>
                <xsd:element name="audioType" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="7" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_audioTypeList"/>
                <xsd:element name="stereo3D" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="8" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_stereo3DList"/>
                <xsd:element name="audioLanguage" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="9" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_audioLanguageList"/>
                <xsd:element name="subtitleLanguage" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="10" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_subtitleLanguageList"/>
                <xsd:element name="burnedInSubtitles" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="11"/>
                <xsd:element name="assistedListeningTrack" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="12"/>
                <xsd:element name="audioDescriptionTrack" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="13"/>
                <xsd:element name="signLanguageTrack" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="14"/>
                <xsd:element name="immersiveSoundFormat" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="15"/>
                <xsd:element name="motionSimulatorFormat" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="16"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
