shared/config/schemas/dolbyvision.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sgo="http://www.sgo.es/2017/sgo.xsd">
 <xsd:element sgo:categoryType="categoryCollapsible" name="DolbyVision" sgo:visibility="0" sgo:sortOrder="0">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
    <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
    <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
	<xsd:element name="target" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_targetList" type="integerPulldown" sgo:visibility="0" sgo:sortOrder="9"/>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>
