shared/config/schemas/exrfile.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="EXRFile" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="url" type="universalPath" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('exr (*.exr)')|fileDialogWindowTitle('Select an exr Sequence')" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="layer" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="4" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_layerList"/>
                <xsd:element name="gamma" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="5" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_gammaList"/>
                <xsd:element name="gamut" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="6" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_gamutList"/>
                <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="7">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="metadata" type="mediaFileInfoWidget" sgo:visibility="0" sgo:sortOrder="8"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
