shared/config/schemas/externalbinary.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ExternalBinary" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="url" type="nameConventionFilePathTextEditor" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="binFilePath" type="xsd:anyURI" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('AE render File (*.*)')|fileDialogWindowTitle('Select The Adobe Render File')" sgo:visibility="0" sgo:sortOrder="10"/>
                <xsd:element name="outputRX" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
                <xsd:element name="errorRX" type="xsd:string" sgo:visibility="0" sgo:sortOrder="12"/>
                <xsd:element name="maxProgress" type="xsd:string" sgo:visibility="0" sgo:sortOrder="13"/>
                <xsd:element name="progressRX" type="xsd:string" sgo:visibility="0" sgo:sortOrder="14"/>		
                <xsd:element name="params" type="xsd:string" sgo:visibility="0" sgo:sortOrder="20"/>	
                <xsd:element name="rosettaMode" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="30"/>
                <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="50">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>				
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
