shared/config/schemas/extractaudiochannels.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ExtractAudioChannels" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="preset" type="stringPulldown" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_presetList" sgo:visibility="0" sgo:sortOrder="3"/>
               <xsd:element name="nChannels" type="xsd:integer" sgo:visibility="0" sgo:sortOrder="10"/>
			</xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
