shared/config/schemas/ffmpeg.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FFmpeg" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="url" type="nameConventionFilePathTextEditor" sgo:visibility="0" sgo:sortOrder="3"/>
			    <xsd:element name="threads" type="integerPulldown" sgo:integerPulldownValues="1|2|4" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="dstExtension" type="xsd:string" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="commandLine" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="10">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="cmdLineParams" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
                            <xsd:element name="param1" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
                            <xsd:element name="param2" type="xsd:string" sgo:visibility="0" sgo:sortOrder="12"/>
                            <xsd:element name="param3" type="xsd:string" sgo:visibility="0" sgo:sortOrder="13"/>
                            <xsd:element name="param4" type="xsd:string" sgo:visibility="0" sgo:sortOrder="14"/>
                            <xsd:element name="param5" type="xsd:string" sgo:visibility="0" sgo:sortOrder="15"/>
                            <xsd:element name="param6" type="xsd:string" sgo:visibility="0" sgo:sortOrder="16"/>
                            <xsd:element name="param7" type="xsd:string" sgo:visibility="0" sgo:sortOrder="17"/>
                            <xsd:element name="param8" type="xsd:string" sgo:visibility="0" sgo:sortOrder="18"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                 <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="10">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>				
				<xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
