shared/config/schemas/folder.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Folder" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="path" type="xsd:anyURI" sgo:properties="showDirsOnly|urlVisibleButtonBrowser|fileDialogWindowTitle('Select Folder')" sgo:visibility="0" sgo:sortOrder="4"/>				
                <xsd:element name="Filter" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="10">
					<xsd:complexType>
                        <xsd:sequence>
							<xsd:element name="filterMode" type="integerPulldown" sgo:integerPulldownValues="Text$$$0|Glob$$$1|Regular Expression$$$2" sgo:visibility="0" sgo:sortOrder="1"/> 
							<xsd:element name="fileNameOnly" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
							<xsd:element name="include" type="xsd:string" sgo:visibility="0" sgo:sortOrder="3"/>
							<xsd:element name="exclude" type="xsd:string" sgo:visibility="0" sgo:sortOrder="4"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="recursive" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="17"/>
                <xsd:element name="alphabeticalOrder" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="20"/>
                <xsd:element name="addRoot" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="21"/>
                <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="30">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="0"/>
                            <xsd:element name="maintainPadding" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="RenderFarm" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="40">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="renderFarmSplitContent" type="xsd:boolean" default="false" sgo:visibility="0" sgo:sortOrder="0"/>
                            <xsd:element name="_renderFarmSplitContentMsg" type="label" sgo:properties="leftWidgetHidden" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
