shared/config/schemas/frameio.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="FrameIO" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="token" type="xsd:string" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="api" type="xsd:string" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="email" type="label" sgo:visibility="0" sgo:sortOrder="6"/>
                <xsd:element name="team" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="7" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_teamsList"/>
                <xsd:element name="project" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="8" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_projectsList"/>
                <xsd:element name="directory" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="9" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_directoriesList"/>				
                <xsd:element name="createReviewLink" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="20"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
