shared/config/schemas/gmail.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="Gmail" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
		<xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
        <xsd:element name="onlySendIfInput" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="5"/>	
        <xsd:element name="onePerFile" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="6"/>
	    <xsd:element name="clientId" type="xsd:string" sgo:visibility="0" sgo:sortOrder="12"/>
	    <xsd:element name="clientSecret" type="xsd:string" sgo:visibility="0" sgo:sortOrder="13"/>
	    <xsd:element name="to" type="xsd:string" sgo:visibility="0" sgo:sortOrder="17"/>
        <xsd:element name="replyTo" type="xsd:string" sgo:visibility="0" sgo:sortOrder="18"/>
	    <xsd:element name="subject" type="xsd:string" sgo:visibility="0" sgo:sortOrder="19"/>
        <xsd:element name="bodyType" type="stringPulldown" sgo:stringPulldownValues="text$$$plain|html$$$html" sgo:visibility="0" sgo:sortOrder="20"/>
	    <xsd:element name="body" type="textEditor" sgo:visibility="0" sgo:sortOrder="21"/>
        <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
