shared/config/schemas/googledriveout.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="GoogleDriveOut" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="clientId" type="xsd:string" sgo:visibility="0" sgo:sortOrder="3"/>
            <xsd:element name="clientSecret" type="xsd:string" sgo:visibility="0" sgo:sortOrder="4"/>
            <xsd:element name="folderId" type="xsd:string" sgo:visibility="0" sgo:sortOrder="5"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
       </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
