shared/config/schemas/iconiks3sync.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="iconikS3Sync"
               sgo:categoryType="categoryCollapsible"
               sgo:visibility="0"
               sgo:sortOrder="0">

    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="objectName"
                     type="xsd:string"
                     sgo:visibility="0"
                     sgo:sortOrder="0"/>

        <xsd:element name="color"
                     type="color"
                     sgo:visibility="0"
                     sgo:sortOrder="1"/>

        <xsd:element name="iconik_appId"
                     type="xsd:string"
                     default=""
                     sgo:visibility="0"
                     sgo:sortOrder="10"/>

        <xsd:element name="iconik_authToken"
                     type="xsd:string"
                     default=""
                     sgo:visibility="0"
                     sgo:sortOrder="11"/>

        <xsd:element name="iconik_domain"
                     type="xsd:anyURI"
                     default="https://app.iconik.io"
                     sgo:visibility="0"
                     sgo:sortOrder="12"/>

        <xsd:element name="aws_bucket"
                     type="xsd:string"
                     default=""
                     sgo:visibility="0"
                     sgo:sortOrder="20"/>

        <xsd:element name="aws_key"
                     type="xsd:string"
                     sgo:properties="password"
                     default=""
                     sgo:visibility="0"
                     sgo:sortOrder="21"/>

        <xsd:element name="aws_secret"
                     type="xsd:string"
                     sgo:properties="password"
                     default=""
                     sgo:visibility="0"
                     sgo:sortOrder="22"/>

      </xsd:sequence>
    </xsd:complexType>

  </xsd:element>
</xsd:schema>
