shared/config/schemas/importmlnk.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="ImportMlnk" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="url" type="universalPath" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('mlnk (*.mlnk)')|fileDialogWindowTitle('Select a mlnk file')" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="debayer" type="integerPulldown" default="0" sgo:integerPulldownValues="From File$$$0|Custom$$$1" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="trimHead" type="xsd:integer" default="-1" sgo:minValue="-1" sgo:maxValue="1000000000" sgo:stepValue="1" sgo:properties="textFromValue('From Input$$$-1')" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="trimTail" type="xsd:integer" default="-1" sgo:minValue="-1" sgo:maxValue="1000000000" sgo:stepValue="1" sgo:properties="textFromValue('From Input$$$-1')" sgo:visibility="0" sgo:sortOrder="6"/>
                <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="7">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="0"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="metadata" type="mediaFileInfoWidget" sgo:visibility="0" sgo:sortOrder="8"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
