shared/config/schemas/join8kp2contents.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="Join8KP2Contents" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
		<xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
		<xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
		<xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>	
        <xsd:element name="dstPath" type="xsd:anyURI" sgo:properties="showDirsOnly|pathNameFilters('All Files (*.*)')|fileDialogWindowTitle('Select a Folder')" sgo:visibility="0" sgo:sortOrder="10"/> 
		<xsd:element name="cardName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
		<xsd:element name="cardSize" type="integerPulldown" sgo:integerPulldownValues="4 GB$$$4|8 GB$$$8|16 GB$$$16|32 GB$$$32|64 GB$$$64|128 GB$$$128|256 GB$$$256|512 GB$$$512"  sgo:visibility="0" sgo:sortOrder="12"/>
		<xsd:element name="mode" type="integerPulldown" sgo:integerPulldownValues="Move$$$0|Copy$$$1"  sgo:visibility="0" sgo:sortOrder="13"/>
        <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>

