shared/config/schemas/jsontotokens.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:element name="jsonToTokens"
               sgo:categoryType="categoryCollapsible"
               sgo:visibility="0"
               sgo:sortOrder="0">
    <xsd:complexType>
      <xsd:sequence>

        <xsd:element name="objectName"
                     type="xsd:string"
                     sgo:visibility="0"
                     sgo:sortOrder="0"/>

        <xsd:element name="color"
                     type="color"
                     sgo:visibility="0"
                     sgo:sortOrder="1"/>

        <xsd:element name="jsonFile"
                     type="xsd:anyURI"
                     sgo:properties="fileDialogFilter('JSON files (*.json)');fileDialogWindowTitle('Select JSON file')"
                     sgo:visibility="0"
                     sgo:sortOrder="10"/>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
