shared/config/schemas/mp3.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="MP3" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="url" type="nameConventionFilePathTextEditor" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="Transcoding" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="4">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="bitRate" type="integerPulldown" sgo:integerPulldownValues="From Input$$$0|16|24|32|40|48|64|80|96|112|128|169|192|256|320" sgo:visibility="0" sgo:sortOrder="10"/>
                            <xsd:element name="sampleRate" type="integerPulldown" sgo:integerPulldownValues="From Input$$$0|11025|22050|44100|48000" sgo:visibility="0" sgo:sortOrder="10"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                 <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="10">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>				
				<xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
