shared/config/schemas/objectmatrixout.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="ObjectMatrixOut" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="endpointUrl" type="xsd:string" sgo:visibility="0" sgo:sortOrder="9"/>
            <xsd:element name="bucket" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="Config" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="15">
			<xsd:complexType>
				<xsd:sequence>
                    <xsd:element name="key" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
                    <xsd:element name="secret" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
				</xsd:sequence>
			</xsd:complexType>
	        </xsd:element>
            <xsd:element name="python" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="20">
			<xsd:complexType>
				<xsd:sequence>
                    <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/> 
				</xsd:sequence>
			</xsd:complexType>
	        </xsd:element>             
       </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
