shared/config/schemas/pulsar.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Pulsar" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="dstPath" type="xsd:anyURI" sgo:properties="showDirsOnly|urlVisibleButtonBrowser|fileDialogWindowTitle('Select Folder')" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="templateType" type="integerPulldown" sgo:integerPulldownValues="General$$$0|Adaptative$$$1|Smart$$$2" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="templateId" type="stringPulldown" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_templateList" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="failedWhen" type="stringPulldown" sgo:stringPulldownValues="Critical|Error|Warning|Info" sgo:visibility="0" sgo:sortOrder="4"/>
      <xsd:element name="Config" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="400">
			<xsd:complexType>
				<xsd:sequence>
                <xsd:element name="ip" type="xsd:string" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="port" type="xsd:string" sgo:visibility="0" sgo:sortOrder="2"/>
				</xsd:sequence>
			</xsd:complexType>
	  </xsd:element>
      <xsd:element name="python" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="500">
		  <xsd:complexType>
			  <xsd:sequence>
				  <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
			  </xsd:sequence>
		  </xsd:complexType>
	  </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
