shared/config/schemas/raffile.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="RAFFile" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="url" type="universalPath" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('RAF File (*.raf)')|fileDialogWindowTitle('Select a RAF Sequence File')" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" default="false" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="debayer" type="integerPulldown" sgo:integerPulldownValues="From File$$$0|Custom$$$1" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="fujiGammaCurve" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="5" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_fujiGammaCurveList"/>
                <xsd:element name="gamma" type="label" sgo:visibility="0" sgo:sortOrder="6"/>
                <xsd:element name="fujiGamutCurve" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="7" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_fujiGamutCurveList"/>
                <xsd:element name="gamut" type="label" sgo:visibility="0" sgo:sortOrder="8"/>
                <xsd:element name="stage" type="integerPulldown" sgo:integerPulldownValues="From File$$$0|Demosaic$$$1|FilterYC$$$2|FilterC$$$3|CombineYC$$$4|Sharpen$$$5" sgo:visibility="0" sgo:sortOrder="9"/>
                <xsd:element name="pattern" type="integerPulldown" sgo:integerPulldownValues="From File$$$0|GRGR$$$1|RGRG$$$2|BGBG$$$3|GBGB$$$4" sgo:visibility="0" sgo:sortOrder="10"/>
                <xsd:element name="flop" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="11"/>
                <xsd:element name="filterRadY" type="xsd:decimal" sgo:decimalMinValue="1" sgo:decimalMaxValue="64" sgo:visibility="0" sgo:sortOrder="12"/>
                <xsd:element name="filterPY" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="64" sgo:visibility="0" sgo:sortOrder="13"/>
                <xsd:element name="filterRadC" type="xsd:decimal" sgo:decimalMinValue="1" sgo:decimalMaxValue="64" sgo:visibility="0" sgo:sortOrder="14"/>
                <xsd:element name="filterPC" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="64" sgo:visibility="0" sgo:sortOrder="15"/>
                <xsd:element name="filterChroma" type="integerPulldown" sgo:integerPulldownValues="None$$$0|3x3$$$1|5x5$$$2|7x7$$$3|9x9$$$4|11x11$$$5|13x13$$$6|15x15$$$7|17x17$$$8" sgo:visibility="0" sgo:sortOrder="16"/>
                <xsd:element name="changeGain" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="17"/>
                <xsd:element name="redGain" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="100000" sgo:visibility="0" sgo:sortOrder="18"/>
                <xsd:element name="blueGain" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="100000" sgo:visibility="0" sgo:sortOrder="19"/>
                <xsd:element name="changeisoGain" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="20"/>
                <xsd:element name="isoGain" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="100000" sgo:visibility="0" sgo:sortOrder="21"/>
                <xsd:element name="colorMatrix" type="integerPulldown" sgo:integerPulldownValues="Source$$$0|None$$$1" sgo:visibility="0" sgo:sortOrder="22"/>
                <xsd:element name="amount" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="100000" sgo:visibility="0" sgo:sortOrder="23"/>
                <xsd:element name="threshold" type="xsd:decimal" sgo:decimalMinValue="0" sgo:decimalMaxValue="100" sgo:visibility="0" sgo:sortOrder="24"/>
                <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="25">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="addTimeStamp" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="0"/>
                            <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="metadata" type="mediaFileInfoWidget" sgo:visibility="0" sgo:sortOrder="26"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
