shared/config/schemas/s3in.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="S3In" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="bucket" type="xsd:string" sgo:visibility="0" sgo:sortOrder="8"/>
            <xsd:element name="localPath" type="xsd:anyURI" sgo:properties="showDirsOnly|urlVisibleButtonBrowser|fileDialogWindowTitle('Select Folder')" sgo:visibility="0" sgo:sortOrder="12"/>
            <xsd:element name="newFilesOnly" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="18"/>
            <xsd:element name="deleteAfterDownload" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="20"/>
            <xsd:element name="areYouSure" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="21"/>
            <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="22">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Config" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="25">
			<xsd:complexType>
				<xsd:sequence>
                    <xsd:element name="key" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
                    <xsd:element name="secret" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
				</xsd:sequence>
			</xsd:complexType>
	        </xsd:element>
            <xsd:element name="python" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="30">
			<xsd:complexType>
				<xsd:sequence>
                    <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/> 
				</xsd:sequence>
            </xsd:complexType>
	        </xsd:element> 
       </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
