shared/config/schemas/scaleresolution.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="scaleResolution" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
			<xsd:element name="scaleFactor" type="xsd:decimal" sgo:decimalMinValue="0.00" sgo:decimalMaxValue="50.00" sgo:decimalStepValue="0.01" sgo:decimalDigits="2" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="dstNode" type="xsd:string" sgo:visibility="0" sgo:sortOrder="12"/>
			<xsd:element name="forceEvenRes" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="14"/>
            <xsd:element name="NameConvention" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="22">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="nameConvention" type="nameConventionSimpleEditor" sgo:visibility="0" sgo:sortOrder="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>