shared/config/schemas/setdisplayfilterfiles.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="SetDisplayFilterFiles" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="displayFilter" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="4" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_displayFilterList"/>
                <xsd:element name="url" type="xsd:anyURI" sgo:properties="pathNameFilters('DisplayFilter File(*.dfilt)')|acceptMode('SaveAsMode')|fileDialogWindowTitle('DisplayFilter File Name')" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="useNames" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="6"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
