shared/config/schemas/signiant.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Signiant" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="user" type="xsd:string" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="pwd" type="xsd:string" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="sourceAgent" type="xsd:string" sgo:visibility="0" sgo:sortOrder="6"/>
                <xsd:element name="targetAgent" type="xsd:string" sgo:visibility="0" sgo:sortOrder="7"/>
                <xsd:element name="targetDirectory" type="xsd:string" sgo:visibility="0" sgo:sortOrder="8"/>
                <xsd:element name="url" type="xsd:string" sgo:visibility="0" sgo:sortOrder="9"/>
                <xsd:element name="jobTemplateLibrary" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
                <xsd:element name="jobGroup" type="xsd:string" sgo:visibility="0" sgo:sortOrder="11"/>
                <xsd:element name="autoSchedule" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="12"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
