shared/config/schemas/sonyfile.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="SonyFile" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="url" type="universalPath" sgo:properties="urlVisibleButtonBrowser|pathNameFilters('Sony mxf (*.mxf)')|fileDialogWindowTitle('Select a Sony mxf file')" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="debayer" type="integerPulldown" sgo:integerPulldownValues="From File$$$0|Custom$$$1" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="sourceGamut" type="integerPulldown" sgo:integerPulldownValues="From File$$$-1|S-Gamut$$$0|S-Gamut3$$$1|S-Gamut3.cine$$$2" sgo:visibility="0" sgo:sortOrder="5"/>
                <xsd:element name="sonyGamma" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="6" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_sonyGammaList"/>
                <xsd:element name="gamma" type="label" sgo:visibility="0" sgo:sortOrder="7"/>
                <xsd:element name="sonyGamut" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="8" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_sonyGamutList"/>
                <xsd:element name="gamut" type="label" sgo:visibility="0" sgo:sortOrder="9"/>
                <xsd:element name="sonyISO" type="stringPulldown" sgo:visibility="0" sgo:sortOrder="10" sgo:actionType="getDataFromProperty" sgo:actionTypeProperties="_sonyISOList"/>
                <xsd:element name="changesonyKelvin" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="11"/>
                <xsd:element name="sonyKelvin" type="xsd:integer" sgo:minValue="2800" sgo:maxValue="10000" sgo:visibility="0" sgo:sortOrder="12"/>
                <xsd:element name="changesonyTint" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="13"/>
                <xsd:element name="sonyTint" type="xsd:integer" sgo:minValue="-100" sgo:maxValue="100" sgo:visibility="0" sgo:sortOrder="14"/>
                <xsd:element name="vpMode" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="16"/>
                <xsd:element name="wallKelvin" type="xsd:integer" sgo:minValue="2800" sgo:maxValue="10000" sgo:visibility="0" sgo:sortOrder="17"/>
                <xsd:element name="lightBlend" type="xsd:integer" sgo:minValue="0" sgo:maxValue="100" sgo:visibility="0" sgo:sortOrder="18"/>
                <xsd:element name="sonyGPU" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="25"/>
                <xsd:element name="sonyReduceFactor" type="stringPulldown" sgo:stringPulldownValues="1:1$$$1|1:2$$$2|1:4$$$3|1:8$$$4|1:16$$$5" sgo:visibility="0" sgo:sortOrder="26"/>
                <xsd:element name="metadata" type="mediaFileInfoWidget" sgo:visibility="0" sgo:sortOrder="50"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
