shared/config/schemas/tar.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="Tar" sgo:categoryType="categoryCollapsible" sgo:visibility="0" sgo:sortOrder="0">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
                <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
                <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
                <xsd:element name="nodeLocked" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="3"/>
                <xsd:element name="url" type="xsd:anyURI" sgo:properties="pathNameFilters('Tar File(*.tar);All Files (*.*)')|acceptMode('SaveAsMode')|fileDialogWindowTitle('Tar File Name')" sgo:visibility="0" sgo:sortOrder="4"/>
                <xsd:element name="pathType" type="stringPulldown" sgo:stringPulldownValues="None$$$0|Relative Path$$$1|Absolute Path$$$2" sgo:visibility="0" sgo:sortOrder="5"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
