shared/config/schemas/trimmedia.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="TrimMedia" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="units" type="integerPulldown" sgo:integerPulldownValues="Frames$$$0" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="trimHead" type="xsd:integer" sgo:minValue="0" sgo:visibility="0" sgo:sortOrder="11"/>
            <xsd:element name="trimTail" type="xsd:integer" sgo:minValue="0" sgo:visibility="0" sgo:sortOrder="12"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
