shared/config/schemas/unicolor.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sgo="http://www.sgo.es/2017/sgo.xsd">
 <xsd:element name="UniColor" sgo:visibility="0" sgo:categoryType="categoryCollapsible" sgo:sortOrder="0">
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
    <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
    <xsd:element name="bypassEnabled" type="xsd:boolean" sgo:visibility="0" sgo:sortOrder="2"/>
    <xsd:element name="Input" sgo:visibility="0" sgo:categoryType="categoryCollapsible" sgo:sortOrder="1000">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Input_InputCurve"  sgo:integerPulldownValues="Linear$$$0|Cineon (Kodak)$$$1|ACEScg$$$2|ACESproxy$$$3|ACEScc$$$4|ACEScct$$$5|Apple Log$$$6|ARRI Log-C3 (ISO400)$$$7|ARRI Log-C3 (ISO800)$$$8|ARRI Log-C4$$$9|BMD Film Gen 5$$$10|Canon Log$$$11|Canon Log2$$$12|Canon Log3$$$13|DJI D-Log$$$14|Fuji F-Log$$$15|Panasonic V-Log$$$16|REDlogFilm$$$17|RED Log3G10$$$18|Sony S-Log2$$$19|Sony S-Log3$$$20|GoPro Protune Flat$$$21|Jaunt$$$22|Z CAM Z-Log2$$$23|sRGB$$$24|ITU-BT 709 / ITU-BT 2020$$$25|Gamma 2.2$$$26|Gamma 2.4$$$27|Gamma 2.7$$$28|Gamma 2.8$$$29|Gamma 2.6$$$30|DCDM + Gamma 2.6 (DCI XYZ)$$$31|ST 2084 PQ$$$32|ST 2084 PQ (Scene)$$$33|BBC WHP 283$$$34|Rec.2100 HLG (Scene)$$$35|Rec.2100 HLG 1000$$$36|Rec.2100 HLG 2000$$$37|Rec.2100 HLG 4000$$$38" sgo:visibility="0" type="integerPulldown" sgo:sortOrder="100"/>
       <xsd:element name="Input_InputGamut" type="integerPulldown" sgo:visibility="0" sgo:integerPulldownValues="XYZ (CIE Chromaticities)$$$0|AP0 (ACES)$$$1|AP1 (ACES)$$$2|ARRI ALEXA Wide Gamut 3$$$3|ARRI ALEXA Wide Gamut 4$$$4|BMD Wide Gamut RGB$$$5|Canon Cinema Gamut$$$6|DJI D-Gamut$$$7|Panasonic V-Gamut$$$8|RED DRAGONcolor2$$$9|REDWideGamutRGB$$$10|Sony S-Gamut$$$11|Sony S-Gamut3$$$12|Sony S-Gamut3.Cine$$$13|Sony Venice S-Gamut3$$$14|Sony Venice S-Gamut3.Cine$$$15|ZCam Z-Log2$$$16|Meta CV1$$$17|Adobe RGB$$$18|sRGB$$$19|Rec.709$$$20|Rec.2020$$$21|P3-D60$$$22|P3-D65$$$23|P3-DCI$$$24" sgo:sortOrder="101"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="GamutOptions" sgo:visibility="0" sgo:categoryType="categoryCollapsible" sgo:sortOrder="1010">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="GamutOptions_ConvertGamut" type="integerPulldown" sgo:visibility="0" sgo:integerPulldownValues="No$$$0|Yes$$$1" sgo:sortOrder="102"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
    <xsd:element name="Output" sgo:visibility="0" sgo:categoryType="categoryCollapsible" sgo:sortOrder="1020">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="Output_OutputGamut" type="integerPulldown" sgo:visibility="0" sgo:integerPulldownValues="XYZ (CIE Chromaticities)$$$0|AP0 (ACES)$$$1|AP1 (ACES)$$$2|ARRI ALEXA Wide Gamut 3$$$3|ARRI ALEXA Wide Gamut 4$$$4|BMD Wide Gamut RGB$$$5|Canon Cinema Gamut$$$6|DJI D-Gamut$$$7|Panasonic V-Gamut$$$8|RED DRAGONcolor2$$$9|REDWideGamutRGB$$$10|Sony S-Gamut$$$11|Sony S-Gamut3$$$12|Sony S-Gamut3.Cine$$$13|Sony Venice S-Gamut3$$$14|Sony Venice S-Gamut3.Cine$$$15|ZCam Z-Log2$$$16|Meta CV1$$$17|Adobe RGB$$$18|sRGB$$$19|Rec.709$$$20|Rec.2020$$$21|P3-D60$$$22|P3-D65$$$23|P3-DCI$$$24" sgo:sortOrder="103"/>
       <xsd:element name="Output_OutputCurve" type="integerPulldown" sgo:visibility="0" sgo:integerPulldownValues="Linear$$$0|Cineon (Kodak)$$$1|ACEScg$$$2|ACESproxy$$$3|ACEScc$$$4|ACEScct$$$5|Apple Log$$$6|ARRI Log-C3 (ISO400)$$$7|ARRI Log-C3 (ISO800)$$$8|ARRI Log-C4$$$9|BMD Film Gen 5$$$10|Canon Log$$$11|Canon Log2$$$12|Canon Log3$$$13|DJI D-Log$$$14|Fuji F-Log$$$15|Panasonic V-Log$$$16|REDlogFilm$$$17|RED Log3G10$$$18|Sony S-Log2$$$19|Sony S-Log3$$$20|GoPro Protune Flat$$$21|Jaunt$$$22|Z CAM Z-Log2$$$23|sRGB$$$24|ITU-BT 709 / ITU-BT 2020$$$25|Gamma 2.2$$$26|Gamma 2.4$$$27|Gamma 2.7$$$28|Gamma 2.8$$$29|Gamma 2.6$$$30|DCDM + Gamma 2.6 (DCI XYZ)$$$31|ST 2084 PQ$$$32|ST 2084 PQ (Scene)$$$33|BBC WHP 283$$$34|Rec.2100 HLG (Scene)$$$35|Rec.2100 HLG 1000$$$36|Rec.2100 HLG 2000$$$37|Rec.2100 HLG 4000$$$38" sgo:sortOrder="104"/>
      </xsd:sequence>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>

