shared/config/schemas/vimeo.xsd

<xsd:schema xmlns:sgo="http://www.sgo.es/2017/sgo.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element sgo:categoryType="categoryCollapsible" name="Vimeo" sgo:visibility="0" sgo:sortOrder="0">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="objectName" type="xsd:string" sgo:visibility="0" sgo:sortOrder="0"/>
            <xsd:element name="color" type="color" sgo:visibility="0" sgo:sortOrder="1"/>
            <xsd:element name="errorMode" type="integerPulldown" sgo:integerPulldownValues="None$$$0|Info$$$1|Warning$$$2|Critical$$$3" sgo:visibility="0" sgo:sortOrder="4"/>
            <xsd:element name="token" type="xsd:string" sgo:visibility="0" sgo:sortOrder="5"/>
			<xsd:element name="title" type="xsd:string" sgo:visibility="0" sgo:sortOrder="10"/>
            <xsd:element name="description" type="textEditor" sgo:visibility="0" sgo:sortOrder="11"/>
            <xsd:element name="embed" type="stringPulldown" sgo:stringPulldownValues="private|public" sgo:visibility="0" sgo:sortOrder="12"/>
            <xsd:element name="view" type="stringPulldown" sgo:stringPulldownValues="anybody|contacts|disable|nobody|password|unlisted|users" sgo:visibility="0" sgo:sortOrder="13"/>
            <xsd:element name="password" type="xsd:string" sgo:visibility="0" sgo:sortOrder="14"/>
            <xsd:element name="code" type="textEditor" sgo:visibility="0" sgo:sortOrder="51"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
