shared/config/schemas/sky/NDS-EXT-I03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (http://www.altova.com) by Mark Lowe (British Sky Broadcasting Ltd) -->
<!--
(c) NDS Limited 2011. All rights reserved. PROPRIETARY AND CONFIDENTIAL.
This document may include reference to technologies that use patents (pending or granted)
which are owned by NDS Limited or third parties. The use of such patents shall be subject
to express written license terms. You shall not copy, disclose, reproduce, store in a
retrieval system or transmit in any form or by any means whether in whole or in part this document. 
NDS Limited accepts no liability and offers no warranty in relation to the use of this document 
or any technology referenced herein as well as associated intellectual property rights except as it has
otherwise agreed in writing.
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="URN:NNDS:CMS:ADI3:01" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:content="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" xmlns:core="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" targetNamespace="URN:NNDS:CMS:ADI3:01" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3">
	<!-- Import for xml:lang and xml:space -->
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml_2001.xsd"/>
	<xsd:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/content/1" schemaLocation="MD-SP-CONTENT-I01.xsd"/>
	<xsd:import namespace="http://www.cablelabs.com/namespaces/metadata/xsd/core/1" schemaLocation="MD-SP-CORE-I01.xsd"/>
	<xsd:complexType name="PressPackImageType">
		<xsd:annotation>
			<xsd:documentation>Defines a still image which can be used for any purpose.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="content:StillImageAssetType">
				<xsd:sequence>
					<xsd:element name="Usage" type="UsageType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="ZeroToNinetyNineType">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Max65535Type">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="65535"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MaxStringFourZeroNineSixType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MaxStringTwentyType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="AnyURLMax2000Type">
		<xsd:restriction base="xsd:anyURI">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="2000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TermTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CUTV"/>
			<xsd:enumeration value="Archive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ContentGroupTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AV"/>
			<xsd:enumeration value="BoxSet"/>
			<xsd:enumeration value="Show"/>
			<xsd:enumeration value="Season"/>
			<xsd:enumeration value="PP"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ContainerExtType">
		<xsd:annotation>
			<xsd:documentation>This contains NDS extensions for the container</xsd:documentation>
		</xsd:annotation>
		<xsd:choice maxOccurs="unbounded">
			<xsd:element name="CategoryImage" type="CategoryImageType" minOccurs="0"/>
			<xsd:element name="PressPackImage" type="PressPackImageType"/>
			<xsd:element name="SecondaryContent" type="SecondaryContentType"/>
			<xsd:element name="GroupMember" type="GroupMemberType"/>
			<!-- 8.1.0 addition -->
			<xsd:element name="AudioLayout" type="AudioLayoutType" minOccurs="0" maxOccurs="1"/>
			<!-- 8.1.0 addition -->
			<xsd:element name="ClosedCaptions" type="ClosedCaptionsType" minOccurs="0" maxOccurs="1"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="PlatformType">
		<xsd:annotation>
			<xsd:documentation>A 10-character string representing a platform code.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EpisodeBriefType">
		<xsd:annotation>
			<xsd:documentation>A 19-character string representing the briefest displayable title.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EpisodeNameType">
		<xsd:annotation>
			<xsd:documentation>A 40-character string representing a reasonable length displayable episode name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EpisodeLongType">
		<xsd:annotation>
			<xsd:documentation>A 200-character string representing a full displayable title.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SummaryBriefType">
		<xsd:annotation>
			<xsd:documentation>An 150-character string representing the briefest displayable summary.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="150"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SummaryShortType">
		<xsd:annotation>
			<xsd:documentation>A 256-character string representing the shortest displayable summary.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="256"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SummaryMediumType">
		<xsd:annotation>
			<xsd:documentation>A 1000-character string representing a reasonable length displayable summary.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="1000"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SummaryLongType">
		<xsd:annotation>
			<xsd:documentation>A 4096-character string representing a full displayable summary.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonBriefType">
		<xsd:annotation>
			<xsd:documentation>A 19-character string representing the briefest displayable title.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="19"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonMediumType">
		<xsd:annotation>
			<xsd:documentation>A 35-character string representing a reasonable length displayable episode name.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SeasonLongType">
		<xsd:annotation>
			<xsd:documentation>A 128-character string representing a full displayable title.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="128"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MarketingMessageType">
		<xsd:annotation>
			<xsd:documentation>A 200-character string representing a marketing message.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KeyType">
		<xsd:annotation>
			<xsd:documentation>A 20-character key.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SoundmouseType">
		<xsd:annotation>
			<xsd:documentation>A 20-character string representing a Soundmouse ID.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StudioCodeType">
		<xsd:annotation>
			<xsd:documentation>A 8-character string representing a Studio Code.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServiceKeyType">
		<xsd:annotation>
			<xsd:documentation>A key uniquely identifying a service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Mode3dType">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:enumeration value="3"/>
			<!--			<xsd:enumeration value="0"/> -->
			<!--			<xsd:enumeration value="1"/> -->
			<!--			<xsd:enumeration value="2"/> -->
			<!--			<xsd:enumeration value="4"/> -->
			<!-- 0 - Each component plane of the decoded frames contains a "checkerboard" based interleaving of corresponding planes of two constituent frames. -->
			<!-- 1- Each component plane of the decoded frames contains a column-based interleaving of corresponding planes of two constituent frames. -->
			<!-- 2 - Each component plane of the decoded frames contains a row-based interleaving of corresponding planes of two constituent frames.  -->
			<!-- 3 - Each component plane of the decoded frames contains a side-by-side packing arrangement of corresponding planes of two constituent frames. -->
			<!-- 4 - Each component plane of the decoded frames contains top-bottom packing arrangement of corresponding planes of two constituent frames. -->
			<!-- 5 - The component planes of the decoded frames in output order form a temporal interleaving of alternating first and second constituent frames.  -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServiceType">
		<xsd:annotation>
			<xsd:documentation>Used to define service CUTV event is broadcast on</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="seriesId" type="KeyType" use="optional"/>
		<xsd:attribute name="serviceKey" type="ServiceKeyType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="DateTimeMinuteTimezoneType">
		<xsd:annotation>
			<xsd:documentation>A standard xsd:dateTime that requires a timezone indicator and no seconds.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime">
			<xsd:pattern value="[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(Z|([\-+][0-9]+:[0-9]+))"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CutvEventType">
		<xsd:sequence>
			<xsd:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>The service the CUTV was broadcast on, and the seriesKey</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="epgDateTime" type="DateTimeMinuteTimezoneType" use="required">
			<xsd:annotation>
				<xsd:documentation>Is the date and time the EPG presented the title as being broadcast.  This shall be rounded to the minute.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="leadServiceKey" type="ServiceKeyType" use="required">
			<xsd:annotation>
				<xsd:documentation>Identifies the service branding used to present the asset in the on-demand catalogue</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:simpleType name="seasonNumType">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="65535"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="episodeNumType">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="32767"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="totalEpisodeNumType">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="32767"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SeriesInfoType">
		<xsd:sequence>
			<xsd:element name="SummaryBrief" type="SummaryBriefType" minOccurs="0"/>
			<xsd:element name="SummaryShort" type="SummaryShortType" minOccurs="0"/>
			<xsd:element name="SummaryMedium" type="SummaryMediumType" minOccurs="0"/>
			<xsd:element name="SummaryLong" type="SummaryLongType" minOccurs="0"/>
			<xsd:element name="SeasonInfo" type="SeasonInfoType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="seasonNumber" type="seasonNumType" use="required">
			<xsd:annotation>
				<xsd:documentation>The season number for the series the title is an episode of.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="episodeNumber" type="episodeNumType" use="required">
			<xsd:annotation>
				<xsd:documentation>The episode number of the title in the series.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="totalEpisodes" type="totalEpisodeNumType" use="optional">
			<xsd:annotation>
				<xsd:documentation>The total number of episodes in the series, if known.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<!-- 8.1.0 addition -->
		<xsd:attribute ref="xml:lang" use="optional">
			<xsd:annotation>
				<xsd:documentation>
					<div>					
						<h3>lang (as an attribute name)</h3>
						<p>Denotes the language of the series info that conforms to the 3 character ISO 639-2 standard.
							Should have a corresponding LocalizableTitle tag with matching lang attribute.
						</p>						
					</div>
				</xsd:documentation>				
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SeasonInfoType">
		<xsd:sequence>
			<xsd:element name="SummaryBrief" type="SummaryBriefType" minOccurs="0"/>
			<xsd:element name="SummaryShort" type="SummaryShortType" minOccurs="0"/>
			<xsd:element name="SummaryMedium" type="SummaryMediumType" minOccurs="0"/>
			<xsd:element name="SummaryLong" type="SummaryLongType" minOccurs="0"/>
			<xsd:element name="SeasonBrief" type="SeasonBriefType" minOccurs="0"/>
			<xsd:element name="SeasonMedium" type="SeasonMediumType" minOccurs="0"/>
			<xsd:element name="SeasonLong" type="SeasonLongType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LocalizableTitleExtType">
		<xsd:annotation>
			<xsd:documentation>A collection of extended Title metadata which is specified in multiple languages for localization.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="EpisodeLong" type="EpisodeLongType" minOccurs="0"/>
			<xsd:element name="EpisodeBrief" type="EpisodeBriefType" minOccurs="0"/>
			<xsd:element name="EpisodeName" type="EpisodeNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The name of the individual episode of a series.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MarketingMessage" type="MarketingMessageType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The marketing message used to promote the content</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="LinkedObjectTypeType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LinkedObjectObjectType">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="100"/>
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LinkedObjectType">
		<xsd:annotation>
			<xsd:documentation>Used to define a linkage between an asset and an object</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute name="type" type="LinkedObjectTypeType" use="required"/>
		<xsd:attribute name="object" type="LinkedObjectObjectType" use="required"/>
		<xsd:attribute name="orderNum" type="Max65535Type" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="OfferCapabilityType">
		<xsd:sequence>
			<xsd:element name="IsStreamable" type="xsd:boolean"/>
			<xsd:element name="IsDownloadable" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<!-- 8.1.0 addition  -->
	<xsd:complexType name="FulfilmentOptionType">		
		<xsd:simpleContent>
			<xsd:extension base="TextMax50Type">
				<xsd:attribute name="code" use="optional" type="Max65535Type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="FullFilmentGroupType">
		<xsd:sequence>
			<xsd:element name="FulfilmentDescriptor" type="TextMax4096Type" minOccurs="1" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Description of the fulfilment group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FulfilmentOption" type="FulfilmentOptionType" minOccurs="1" maxOccurs="unbounded"/>				
		</xsd:sequence>
		<xsd:attribute name="productCode" type="Max65535Type" use="optional"/>
		<xsd:attribute name="rank" type="ZeroToNinetyNineType" use="optional"/>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="OfferPropositionType">
		<xsd:sequence>
			<xsd:element name="FullFilmentGroup" type="FullFilmentGroupType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Groups one or more fulfilment options.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="name" type="TextMax20Type" use="required"/>
		<xsd:attribute name="code" type="Max65535Type" use="optional"/>		
	</xsd:complexType>
	
	<xsd:complexType name="NdsAssetExtType">
		<xsd:annotation>
			<xsd:documentation>This contains NDS extensions for the Assets</xsd:documentation>
		</xsd:annotation>
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="TermType" type="TermTypeType">
				<xsd:annotation>
					<xsd:documentation>Identifies the type of Term Asset.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Extensions for Offer Asset -->
			<xsd:element name="platform" type="PlatformType"/>
			<xsd:element name="CutvEvent" type="CutvEventType">
				<xsd:annotation>
					<xsd:documentation>Identifies if the Offer is for a CUTV Event and provides metadata about the broadcast event.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OfferAvailability" type="OfferAvailabilityType"/>
			<!-- Extensions for Content Group Asset -->
			<xsd:element name="OfferCapability" type="OfferCapabilityType"/>
			
			<!-- 8.1.0 addition  -->
			
			<xsd:element name="OfferProposition" type="OfferPropositionType" nillable="false">
				<xsd:annotation>
					<xsd:documentation>Identifies the type of proposition for an offer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="ContentGroupType" type="ContentGroupTypeType">
				<xsd:annotation>
					<xsd:documentation>Identifies the type of content group.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CategoryImageRef" type="core:AssetRefType"/>
			<xsd:element name="PressPackImageRef" type="core:AssetRefType"/>
			<xsd:element name="SecondaryContentRef" type="core:AssetRefType"/>
			<xsd:element name="GroupMemberRef" type="core:AssetRefType"/>
			
			<!-- 8.1.0 addition  -->
			<xsd:element name="AudioLayoutRef" type="core:AssetRefType">
				<xsd:annotation>
					<xsd:documentation>
						<div>					
							<h3>AudioLayoutRef</h3>
							<p>Reference to an Audio Layout</p>						
						</div>
					</xsd:documentation>				
				</xsd:annotation>
			</xsd:element>
			
			<!-- 8.1.0 addition  -->
			<xsd:element name="ClosedCaptionsRef" type="core:AssetRefType">
				<xsd:annotation>
					<xsd:documentation>
						<div>					
							<h3>AudioLayoutRef</h3>
							<p>Reference to Closed Captions</p>						
						</div>
					</xsd:documentation>				
				</xsd:annotation>
			</xsd:element>
			
			<!-- Extensions for Title Asset -->
			<xsd:element name="LocalizableTitleExt" type="LocalizableTitleExtType">
				<xsd:annotation>
					<xsd:documentation>Extension to the Localizable title.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeriesInfo" type="SeriesInfoType">
				<xsd:annotation>
					<xsd:documentation>Information about the series the title is an episode of.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsSigned" type="xsd:boolean"/>
			<xsd:element name="IsSubtitle" type="xsd:boolean"/>
			<xsd:element name="IsAudioDescribed" type="xsd:boolean"/>
			<xsd:element name="ExhibitionDateTime" type="core:DateTimeTimezoneType">
				<xsd:annotation>
					<xsd:documentation>First time the title was shown on linear broadcast.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Soundmouse" type="SoundmouseType"/>
			<xsd:element name="StudioCode" type="StudioCodeType"/>
			<xsd:element name="LinkedObject" type="LinkedObjectType"/>
			<xsd:element name="TitleExtensions" type="TitleExtensionType"/>
			<xsd:element name="TitleRegionalExtensions" type="TitleRegionalExtensionsType"/>
			<!-- Extensions for Movie Asset -->
			<xsd:element name="Mode3d" type="Mode3dType">
				<xsd:annotation>
					<xsd:documentation>Required if content is stereoscopic 3D.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MovieExtensions" type="MovieExtensionType"/>
			<!-- restrict string to 6 Alpha characters -->
			<xsd:element name="PreviewExtensions" type="PreviewExtensionType"/>
			<xsd:element name="ThumbnailExtensions" type="ThumbnailExtensionType"/>
			<xsd:element name="CategoryAssetExtensions" type="CategoryAssetExtensionType"/>
			<xsd:element name="TermCategoryTags" type="TermCategoryTagsType"/>
			
			<!-- 8.1.0 deprecation -->
			<xsd:element name="TermRightsSummary" type="RightsSummaryType" minOccurs="0" maxOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depcrecated</xsd:documentation>				
				</xsd:annotation>
			</xsd:element>
			
			<!-- 8.1.0 addition: multiplicity must be enforced by business rules -->
			<xsd:element name="Region" type="ISO3166CountryCode" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<div>					
							<h3>Region</h3>
							<p>The region/country (alpha-2) available for given rights/platform in the ADI
								<a href="http://www.iso.org/iso/country_codes">
									http://www.iso.org/iso/country_codes</a> Two character country code </p>						
						</div>
					</xsd:documentation>				
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:simpleType name="TextMax4096Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="4096"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TextMax20Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TextMax50Type">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ADSMetadataType">
		<xsd:simpleContent>
			<xsd:extension base="TextMax4096Type">
				<xsd:attribute name="adsLogicalName" type="TextMax20Type" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="EventTriggerType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="impression"/>
			<xsd:enumeration value="start"/>
			<xsd:enumeration value="end"/>
			<xsd:enumeration value="playBackTerminated"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ReportingURLType">
		<xsd:simpleContent>
			<xsd:extension base="AnyURLMax2000Type">
				<xsd:attribute name="eventTrigger" type="EventTriggerType" use="required"/>
				<xsd:attribute name="assetPartNum" type="xsd:unsignedByte" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="AssetPartType">
		<xsd:annotation>
			<xsd:documentation>Used to represent parts of an asset. The standard element are used for the first part and subsequent parts are specified using this type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SourceUrl" type="content:SourceUrlType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A URL to the content, which ni ADI1.1 corresponds to a relatative URL of just the content file name.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContentFileSize" type="xsd:unsignedLong" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>File size (in bytes) of the included content for quality assurance and processing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContentCheckSum" type="content:ChecksumType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>A string containing a hexadecimal number representing a MD5 (RFC 1321) message digest value for quality assurance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SOE" type="core:TimecodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The start time code of the beginning of the content file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SOM" type="core:TimecodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The start time code of the part in the content file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EOM" type="core:TimecodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The end time code of the the part in the content file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- 8.1.0 addition (merged from 7.13)  -->
			<xsd:element name="SOC" type="core:TimecodeType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The time code of the start of credit roll in the content file</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="partNum" type="xsd:unsignedByte" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="MediaIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PromoTitleType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PlayListTemplateIdType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MovieExtensionType">
		<xsd:sequence>
			<!-- Should platform be "unbounded"  -->
			<xsd:element name="playListTemplateId" type="PlayListTemplateIdType" minOccurs="0"/>
			<xsd:element name="numMidRolls" type="ZeroToNinetyNineType" minOccurs="0"/>
			<xsd:element name="adsMetadata" type="ADSMetadataType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="reportingURL" type="ReportingURLType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="encodingProfile" type="xsd:string" minOccurs="0"/>
			<!-- When the content is formed of multiple parts the fields in ContentAssetType are not populated. Only assetPart is used -->
			<xsd:element name="assetPart" type="AssetPartType" minOccurs="0" maxOccurs="98"/>
			<xsd:element name="playlistSupportOnly" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="adaptiveProfile" type="AdaptiveProfileType" minOccurs="0" maxOccurs="unbounded"/>
			
		</xsd:sequence>
		<xsd:attribute name="analogueOff" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="waterMarkingRequired" type="xsd:boolean" use="optional"/>
		<xsd:attribute name="mediaId" type="MediaIdType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="PreviewExtensionType">
		<xsd:sequence>
			<!-- Is this covered by subtitles in ADI 3 -->
			<xsd:element name="closedCaption" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="promoTitle" type="PromoTitleType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="mediaId" type="MediaIdType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="ThumbnailExtensionType">
		<xsd:sequence/>
		<xsd:attribute name="mediaId" type="MediaIdType" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="CategoryImageType">
		<xsd:annotation>
			<xsd:documentation>Defines a still image which can be used for categories.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="content:StillImageAssetType">
				<xsd:sequence/>
				<xsd:attribute name="mediaId" type="MediaIdType" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OfferAvailabilityType">
		<xsd:attribute name="offerType" type="OfferTypeType" use="required"/>
		<xsd:attribute name="startDateTime" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="endDateTime" type="xsd:dateTime" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="OfferTypeType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="IPPR"/>
			<xsd:enumeration value="SVOD"/>
			<xsd:enumeration value="FREE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--

	<xsd:simpleType name="TemplateParamIdType">
		<xsd:restriction base="xsd:unsignedByte">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="TemplateParameterType">
		<xsd:attribute name="ParamType" type="xsd:string" use="required"/>
		<xsd:attribute name="ParamId" type="TemplateParamIdType" use="required"/>
		<xsd:attribute name="ParamValue" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="TemplateNameType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="TemplateType">
		<xsd:sequence>
			<xsd:element name="TemplateParameter" type="TemplateParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ProductParameter" type="ZeroToNinetyNineType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="templateName" type="TemplateNameType" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="PlannerRetentionType">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="655"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TelephoneIdType">
		<xsd:restriction base="xsd:unsignedInt">
			<xsd:minInclusive value="0"/>
			<xsd:maxInclusive value="99999"/>
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:complexType name="PurchaseOfferType">
		<xsd:sequence>
			<xsd:element name="GracePeriod" type="ZeroToNinetyNineType" minOccurs="1"/>
			<xsd:element name="MaximumViewingLength" type="xsd:time" minOccurs="0"/>
			<xsd:element name="PlannerRetention" type="PlannerRetentionType"/>
			<xsd:element name="PurchaseOfferTemplate" type="TemplateType" minOccurs="0"/>
			<xsd:element name="TelephoneId" type="TelephoneIdType" minOccurs="0"/>
			<xsd:element name="MinimumDownloadSpeed" type="xsd:integer" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="purchaseOfferId" type="Max65535Type" use="required"/>
		<xsd:attribute name="purchaseOfferType" type="OfferTypeType" use="required"/>
		<xsd:attribute name="startDateTime" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="endDateTime" type="xsd:dateTime" use="required"/>
		<xsd:attribute name="catalogueref" type="xsd:unsignedInt" use="optional"/>
	</xsd:complexType>

-->
	<xsd:complexType name="CategoryAssetExtensionType">
		<xsd:attribute name="orderNum" type="Max65535Type" use="optional"/>
		<xsd:attribute name="domain" type="xsd:string" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="EditorialTextType">
		<xsd:sequence>
			<xsd:element name="Technical" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="Recap" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="Trailer" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="Presentation" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="Sponsorship" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="TBC" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
			<xsd:element name="Warning" type="MaxStringFourZeroNineSixType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TitleExtensionType">
		<xsd:sequence>
			<xsd:element name="ProgramKey" type="MaxStringTwentyType" minOccurs="0"/>
			<!-- Max 20 characters -->
			<xsd:element name="LinkedProgramKey" type="MaxStringTwentyType" minOccurs="0"/>
			<!-- Max 20 characters -->
			<!-- 		<xsd:element name="PurchaseOffer" type="PurchaseOfferType" minOccurs="0" maxOccurs="unbounded"/>  -->
			<xsd:element name="EditorialText" type="EditorialTextType" minOccurs="0"/>
			<xsd:element name="LinkedObject" type="LinkedObjectType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="DealSub" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="Language" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TitleRegionalExtensionsType">
		<xsd:sequence>
			<xsd:element name="ReleaseDate" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:date">
							<xsd:attribute name="DateType" type="MaxStringTwentyType" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="Country" type="ISO3166CountryCode" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="ConditionedForType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TSA"/>
			<xsd:enumeration value="DPL"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SecondaryContentType">
		<xsd:complexContent>
			<xsd:extension base="content:AudioVideoAssetType">
				<xsd:sequence>
					<xsd:element name="EncodingProfile" type="xsd:string"/>
					<xsd:element name="SubSecondDuration" type="xsd:byte" minOccurs="0"/>
					<xsd:element name="LinkedObject" type="LinkedObjectType" minOccurs="0" maxOccurs="unbounded"/>
					
					<!-- 8.1.0 addition  -->
					<xsd:element name="AudioLayoutRef" type="core:AssetRefType" minOccurs="0" maxOccurs="1"/>
					
					<!-- 8.1.0 addition  -->
					<xsd:element name="ClosedCaptionsRef" type="core:AssetRefType" minOccurs="0" maxOccurs="1"/>
					
				</xsd:sequence>
				<xsd:attribute name="conditionedFor" type="ConditionedForType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="UsageType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="100"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AdaptiveProfileType">
		<xsd:sequence>
			<xsd:element name="nominalBitrate" type="xsd:positiveInteger"/>
			<xsd:element name="size" type="xsd:unsignedLong"/>
			<xsd:element name="isAudioOnly" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TermCategoryTagsType">
		<xsd:sequence>
			<xsd:element name="CategoryTag" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CategoryTagType">
							<xsd:attribute name="order" type="Max65535Type" use="required"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="type" type="CategoryTagTypeType" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="CategoryTagType">
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="50"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CategoryTagTypeType">
		<xsd:restriction base="core:NonEmptyStringType">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RightsSummaryType">
		<xsd:sequence>
			<xsd:element name="Right" type="RightType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="region" type="ISO3166CountryCode" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="RightType">
		<xsd:sequence>
			<xsd:element name="Platform" type="TextMax50Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DeviceType" type="TextMax50Type" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="OS" type="TextMax50Type" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ISO3166CountryCode">
		<xsd:annotation>
			<xsd:documentation>
        Two-letter (alpha-2) ISO 3166-1 code for one of the 243 countries.
      </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="AF"/>
			<xsd:enumeration value="AX"/>
			<xsd:enumeration value="AL"/>
			<xsd:enumeration value="DZ"/>
			<xsd:enumeration value="AS"/>
			<xsd:enumeration value="AD"/>
			<xsd:enumeration value="AO"/>
			<xsd:enumeration value="AI"/>
			<xsd:enumeration value="AQ"/>
			<xsd:enumeration value="AG"/>
			<xsd:enumeration value="AR"/>
			<xsd:enumeration value="AM"/>
			<xsd:enumeration value="AW"/>
			<xsd:enumeration value="AU"/>
			<xsd:enumeration value="AT"/>
			<xsd:enumeration value="AZ"/>
			<xsd:enumeration value="BS"/>
			<xsd:enumeration value="BH"/>
			<xsd:enumeration value="BD"/>
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="BY"/>
			<xsd:enumeration value="BE"/>
			<xsd:enumeration value="BZ"/>
			<xsd:enumeration value="BJ"/>
			<xsd:enumeration value="BM"/>
			<xsd:enumeration value="BT"/>
			<xsd:enumeration value="BO"/>
			<xsd:enumeration value="BA"/>
			<xsd:enumeration value="BW"/>
			<xsd:enumeration value="BV"/>
			<xsd:enumeration value="BR"/>
			<xsd:enumeration value="IO"/>
			<xsd:enumeration value="BN"/>
			<xsd:enumeration value="BG"/>
			<xsd:enumeration value="BF"/>
			<xsd:enumeration value="BI"/>
			<xsd:enumeration value="KH"/>
			<xsd:enumeration value="CM"/>
			<xsd:enumeration value="CA"/>
			<xsd:enumeration value="CV"/>
			<xsd:enumeration value="KY"/>
			<xsd:enumeration value="CF"/>
			<xsd:enumeration value="TD"/>
			<xsd:enumeration value="CL"/>
			<xsd:enumeration value="CN"/>
			<xsd:enumeration value="CX"/>
			<xsd:enumeration value="CC"/>
			<xsd:enumeration value="CO"/>
			<xsd:enumeration value="KM"/>
			<xsd:enumeration value="CG"/>
			<xsd:enumeration value="CD"/>
			<xsd:enumeration value="CK"/>
			<xsd:enumeration value="CR"/>
			<xsd:enumeration value="CI"/>
			<xsd:enumeration value="HR"/>
			<xsd:enumeration value="CU"/>
			<xsd:enumeration value="CY"/>
			<xsd:enumeration value="CZ"/>
			<xsd:enumeration value="DK"/>
			<xsd:enumeration value="DJ"/>
			<xsd:enumeration value="DM"/>
			<xsd:enumeration value="DO"/>
			<xsd:enumeration value="EC"/>
			<xsd:enumeration value="EG"/>
			<xsd:enumeration value="SV"/>
			<xsd:enumeration value="GQ"/>
			<xsd:enumeration value="ER"/>
			<xsd:enumeration value="EE"/>
			<xsd:enumeration value="ET"/>
			<xsd:enumeration value="FK"/>
			<xsd:enumeration value="FO"/>
			<xsd:enumeration value="FJ"/>
			<xsd:enumeration value="FI"/>
			<xsd:enumeration value="FR"/>
			<xsd:enumeration value="GF"/>
			<xsd:enumeration value="PF"/>
			<xsd:enumeration value="TF"/>
			<xsd:enumeration value="GA"/>
			<xsd:enumeration value="GM"/>
			<xsd:enumeration value="GE"/>
			<xsd:enumeration value="DE"/>
			<xsd:enumeration value="GH"/>
			<xsd:enumeration value="GI"/>
			<xsd:enumeration value="GR"/>
			<xsd:enumeration value="GL"/>
			<xsd:enumeration value="GD"/>
			<xsd:enumeration value="GP"/>
			<xsd:enumeration value="GU"/>
			<xsd:enumeration value="GT"/>
			<xsd:enumeration value="GG"/>
			<xsd:enumeration value="GN"/>
			<xsd:enumeration value="GW"/>
			<xsd:enumeration value="GY"/>
			<xsd:enumeration value="HT"/>
			<xsd:enumeration value="HM"/>
			<xsd:enumeration value="VA"/>
			<xsd:enumeration value="HN"/>
			<xsd:enumeration value="HK"/>
			<xsd:enumeration value="HU"/>
			<xsd:enumeration value="IS"/>
			<xsd:enumeration value="IN"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IR"/>
			<xsd:enumeration value="IQ"/>
			<xsd:enumeration value="IE"/>
			<xsd:enumeration value="IM"/>
			<xsd:enumeration value="IL"/>
			<xsd:enumeration value="IT"/>
			<xsd:enumeration value="JM"/>
			<xsd:enumeration value="JP"/>
			<xsd:enumeration value="JE"/>
			<xsd:enumeration value="JO"/>
			<xsd:enumeration value="KZ"/>
			<xsd:enumeration value="KE"/>
			<xsd:enumeration value="KI"/>
			<xsd:enumeration value="KP"/>
			<xsd:enumeration value="KR"/>
			<xsd:enumeration value="KW"/>
			<xsd:enumeration value="KG"/>
			<xsd:enumeration value="LA"/>
			<xsd:enumeration value="LV"/>
			<xsd:enumeration value="LB"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="LR"/>
			<xsd:enumeration value="LY"/>
			<xsd:enumeration value="LI"/>
			<xsd:enumeration value="LT"/>
			<xsd:enumeration value="LU"/>
			<xsd:enumeration value="MO"/>
			<xsd:enumeration value="MK"/>
			<xsd:enumeration value="MG"/>
			<xsd:enumeration value="MW"/>
			<xsd:enumeration value="MY"/>
			<xsd:enumeration value="MV"/>
			<xsd:enumeration value="ML"/>
			<xsd:enumeration value="MT"/>
			<xsd:enumeration value="MH"/>
			<xsd:enumeration value="MQ"/>
			<xsd:enumeration value="MR"/>
			<xsd:enumeration value="MU"/>
			<xsd:enumeration value="YT"/>
			<xsd:enumeration value="MX"/>
			<xsd:enumeration value="FM"/>
			<xsd:enumeration value="MD"/>
			<xsd:enumeration value="MC"/>
			<xsd:enumeration value="MN"/>
			<xsd:enumeration value="MS"/>
			<xsd:enumeration value="MA"/>
			<xsd:enumeration value="MZ"/>
			<xsd:enumeration value="MM"/>
			<xsd:enumeration value="NA"/>
			<xsd:enumeration value="NR"/>
			<xsd:enumeration value="NP"/>
			<xsd:enumeration value="NL"/>
			<xsd:enumeration value="AN"/>
			<xsd:enumeration value="NC"/>
			<xsd:enumeration value="NZ"/>
			<xsd:enumeration value="NI"/>
			<xsd:enumeration value="NE"/>
			<xsd:enumeration value="NG"/>
			<xsd:enumeration value="NU"/>
			<xsd:enumeration value="NF"/>
			<xsd:enumeration value="MP"/>
			<xsd:enumeration value="NO"/>
			<xsd:enumeration value="OM"/>
			<xsd:enumeration value="PK"/>
			<xsd:enumeration value="PW"/>
			<xsd:enumeration value="PS"/>
			<xsd:enumeration value="PA"/>
			<xsd:enumeration value="PG"/>
			<xsd:enumeration value="PY"/>
			<xsd:enumeration value="PE"/>
			<xsd:enumeration value="PH"/>
			<xsd:enumeration value="PN"/>
			<xsd:enumeration value="PL"/>
			<xsd:enumeration value="PT"/>
			<xsd:enumeration value="PR"/>
			<xsd:enumeration value="QA"/>
			<xsd:enumeration value="RE"/>
			<xsd:enumeration value="RO"/>
			<xsd:enumeration value="RU"/>
			<xsd:enumeration value="RW"/>
			<xsd:enumeration value="SH"/>
			<xsd:enumeration value="KN"/>
			<xsd:enumeration value="LC"/>
			<xsd:enumeration value="PM"/>
			<xsd:enumeration value="VC"/>
			<xsd:enumeration value="WS"/>
			<xsd:enumeration value="SM"/>
			<xsd:enumeration value="ST"/>
			<xsd:enumeration value="SA"/>
			<xsd:enumeration value="SN"/>
			<xsd:enumeration value="CS"/>
			<xsd:enumeration value="SC"/>
			<xsd:enumeration value="SL"/>
			<xsd:enumeration value="SG"/>
			<xsd:enumeration value="SK"/>
			<xsd:enumeration value="SI"/>
			<xsd:enumeration value="SB"/>
			<xsd:enumeration value="SO"/>
			<xsd:enumeration value="ZA"/>
			<xsd:enumeration value="GS"/>
			<xsd:enumeration value="ES"/>
			<xsd:enumeration value="LK"/>
			<xsd:enumeration value="SD"/>
			<xsd:enumeration value="SR"/>
			<xsd:enumeration value="SJ"/>
			<xsd:enumeration value="SZ"/>
			<xsd:enumeration value="SE"/>
			<xsd:enumeration value="CH"/>
			<xsd:enumeration value="SY"/>
			<xsd:enumeration value="TW"/>
			<xsd:enumeration value="TJ"/>
			<xsd:enumeration value="TZ"/>
			<xsd:enumeration value="TH"/>
			<xsd:enumeration value="TL"/>
			<xsd:enumeration value="TG"/>
			<xsd:enumeration value="TK"/>
			<xsd:enumeration value="TO"/>
			<xsd:enumeration value="TT"/>
			<xsd:enumeration value="TN"/>
			<xsd:enumeration value="TR"/>
			<xsd:enumeration value="TM"/>
			<xsd:enumeration value="TC"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="UG"/>
			<xsd:enumeration value="UA"/>
			<xsd:enumeration value="AE"/>
			<xsd:enumeration value="GB"/>
			<xsd:enumeration value="US"/>
			<xsd:enumeration value="UM"/>
			<xsd:enumeration value="UY"/>
			<xsd:enumeration value="UZ"/>
			<xsd:enumeration value="VU"/>
			<xsd:enumeration value="VE"/>
			<xsd:enumeration value="VN"/>
			<xsd:enumeration value="VG"/>
			<xsd:enumeration value="VI"/>
			<xsd:enumeration value="WF"/>
			<xsd:enumeration value="EH"/>
			<xsd:enumeration value="YE"/>
			<xsd:enumeration value="ZM"/>
			<xsd:enumeration value="ZW"/>
			<!-- AFGHANISTAN -->
			<!-- &Aring;LAND ISLANDS -->
			<!-- ALBANIA -->
			<!-- ALGERIA -->
			<!-- AMERICAN SAMOA -->
			<!-- ANDORRA -->
			<!-- ANGOLA -->
			<!-- ANGUILLA -->
			<!-- ANTARCTICA -->
			<!-- ANTIGUA AND BARBUDA -->
			<!-- ARGENTINA -->
			<!-- ARMENIA -->
			<!-- ARUBA -->
			<!-- AUSTRALIA -->
			<!-- AUSTRIA -->
			<!-- AZERBAIJAN -->
			<!-- BAHAMAS -->
			<!-- BAHRAIN -->
			<!-- BANGLADESH -->
			<!-- BARBADOS -->
			<!-- BELARUS -->
			<!-- BELGIUM -->
			<!-- BELIZE -->
			<!-- BENIN -->
			<!-- BERMUDA -->
			<!-- BHUTAN -->
			<!-- BOLIVIA -->
			<!-- BOSNIA AND HERZEGOVINA -->
			<!-- BOTSWANA -->
			<!-- BOUVET ISLAND -->
			<!-- BRAZIL -->
			<!-- BRITISH INDIAN OCEAN TERRITORY -->
			<!-- BRUNEI DARUSSALAM -->
			<!-- BULGARIA -->
			<!-- BURKINA FASO -->
			<!-- BURUNDI -->
			<!-- CAMBODIA -->
			<!-- CAMEROON -->
			<!-- CANADA -->
			<!-- CAPE VERDE -->
			<!-- CAYMAN ISLANDS -->
			<!-- CENTRAL AFRICAN REPUBLIC -->
			<!-- CHAD -->
			<!-- CHILE -->
			<!-- CHINA -->
			<!-- CHRISTMAS ISLAND -->
			<!-- COCOS (KEELING) ISLANDS -->
			<!-- COLOMBIA -->
			<!-- COMOROS -->
			<!-- CONGO -->
			<!-- CONGO, THE DEMOCRATIC REPUBLIC OF THE -->
			<!-- COOK ISLANDS -->
			<!-- COSTA RICA -->
			<!-- COTE D'IVOIRE -->
			<!-- CROATIA -->
			<!-- CUBA -->
			<!-- CYPRUS -->
			<!-- CZECH REPUBLIC -->
			<!-- DENMARK -->
			<!-- DJIBOUTI -->
			<!-- DOMINICA -->
			<!-- DOMINICAN REPUBLIC -->
			<!-- ECUADOR -->
			<!-- EGYPT -->
			<!-- EL SALVADOR -->
			<!-- EQUATORIAL GUINEA -->
			<!-- ERITREA -->
			<!-- ESTONIA -->
			<!-- ETHIOPIA -->
			<!-- FALKLAND ISLANDS (MALVINAS) -->
			<!-- FAROE ISLANDS -->
			<!-- FIJI -->
			<!-- FINLAND -->
			<!-- FRANCE -->
			<!-- FRENCH GUIANA -->
			<!-- FRENCH POLYNESIA -->
			<!-- FRENCH SOUTHERN TERRITORIES -->
			<!-- GABON -->
			<!-- GAMBIA -->
			<!-- GEORGIA -->
			<!-- GERMANY -->
			<!-- GHANA -->
			<!-- GIBRALTAR -->
			<!-- GREECE -->
			<!-- GREENLAND -->
			<!-- GRENADA -->
			<!-- GUADELOUPE -->
			<!-- GUAM -->
			<!-- GUATEMALA -->
			<!-- GUERNSEY -->
			<!-- GUINEA -->
			<!-- GUINEA-BISSAU -->
			<!-- GUYANA -->
			<!-- HAITI -->
			<!-- HEARD ISLAND AND MCDONALD ISLANDS -->
			<!-- HOLY SEE (VATICAN CITY STATE) -->
			<!-- HONDURAS -->
			<!-- HONG KONG -->
			<!-- HUNGARY -->
			<!-- ICELAND -->
			<!-- INDIA -->
			<!-- INDONESIA -->
			<!-- IRAN, ISLAMIC REPUBLIC OF -->
			<!-- IRAQ -->
			<!-- IRELAND -->
			<!-- ISLE OF MAN -->
			<!-- ISRAEL -->
			<!-- ITALY -->
			<!-- JAMAICA -->
			<!-- JAPAN -->
			<!-- JERSEY -->
			<!-- JORDAN -->
			<!-- KAZAKHSTAN -->
			<!-- KENYA -->
			<!-- KIRIBATI -->
			<!-- KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF -->
			<!-- KOREA, REPUBLIC OF -->
			<!-- KUWAIT -->
			<!-- KYRGYZSTAN -->
			<!-- LAO PEOPLE'S DEMOCRATIC REPUBLIC -->
			<!-- LATVIA -->
			<!-- LEBANON -->
			<!-- LESOTHO -->
			<!-- LIBERIA -->
			<!-- LIBYAN ARAB JAMAHIRIYA -->
			<!-- LIECHTENSTEIN -->
			<!-- LITHUANIA -->
			<!-- LUXEMBOURG -->
			<!-- MACAO -->
			<!-- MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF -->
			<!-- MADAGASCAR -->
			<!-- MALAWI -->
			<!-- MALAYSIA -->
			<!-- MALDIVES -->
			<!-- MALI -->
			<!-- MALTA -->
			<!-- MARSHALL ISLANDS -->
			<!-- MARTINIQUE -->
			<!-- MAURITANIA -->
			<!-- MAURITIUS -->
			<!-- MAYOTTE -->
			<!-- MEXICO -->
			<!-- MICRONESIA, FEDERATED STATES OF -->
			<!-- MOLDOVA, REPUBLIC OF -->
			<!-- MONACO -->
			<!-- MONGOLIA -->
			<!-- MONTSERRAT -->
			<!-- MOROCCO -->
			<!-- MOZAMBIQUE -->
			<!-- MYANMAR -->
			<!-- NAMIBIA -->
			<!-- NAURU -->
			<!-- NEPAL -->
			<!-- NETHERLANDS -->
			<!-- NETHERLANDS ANTILLES -->
			<!-- NEW CALEDONIA -->
			<!-- NEW ZEALAND -->
			<!-- NICARAGUA -->
			<!-- NIGER -->
			<!-- NIGERIA -->
			<!-- NIUE -->
			<!-- NORFOLK ISLAND -->
			<!-- NORTHERN MARIANA ISLANDS -->
			<!-- NORWAY -->
			<!-- OMAN -->
			<!-- PAKISTAN -->
			<!-- PALAU -->
			<!-- PALESTINIAN TERRITORY, OCCUPIED -->
			<!-- PANAMA -->
			<!-- PAPUA NEW GUINEA -->
			<!-- PARAGUAY -->
			<!-- PERU -->
			<!-- PHILIPPINES -->
			<!-- PITCAIRN -->
			<!-- POLAND -->
			<!-- PORTUGAL -->
			<!-- PUERTO RICO -->
			<!-- QATAR -->
			<!-- REUNION -->
			<!-- ROMANIA -->
			<!-- RUSSIAN FEDERATION -->
			<!-- RWANDA -->
			<!-- SAINT HELENA -->
			<!-- SAINT KITTS AND NEVIS -->
			<!-- SAINT LUCIA -->
			<!-- SAINT PIERRE AND MIQUELON -->
			<!-- SAINT VINCENT AND THE GRENADINES -->
			<!-- SAMOA -->
			<!-- SAN MARINO -->
			<!-- SAO TOME AND PRINCIPE -->
			<!-- SAUDI ARABIA -->
			<!-- SENEGAL -->
			<!-- SERBIA AND MONTENEGRO -->
			<!-- SEYCHELLES -->
			<!-- SIERRA LEONE -->
			<!-- SINGAPORE -->
			<!-- SLOVAKIA -->
			<!-- SLOVENIA -->
			<!-- SOLOMON ISLANDS -->
			<!-- SOMALIA -->
			<!-- SOUTH AFRICA -->
			<!-- SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS -->
			<!-- SPAIN -->
			<!-- SRI LANKA -->
			<!-- SUDAN -->
			<!-- SURINAME -->
			<!-- SVALBARD AND JAN MAYEN -->
			<!-- SWAZILAND -->
			<!-- SWEDEN -->
			<!-- SWITZERLAND -->
			<!-- SYRIAN ARAB REPUBLIC -->
			<!-- TAIWAN, PROVINCE OF CHINA -->
			<!-- TAJIKISTAN -->
			<!-- TANZANIA, UNITED REPUBLIC OF -->
			<!-- THAILAND -->
			<!-- TIMOR-LESTE -->
			<!-- TOGO -->
			<!-- TOKELAU -->
			<!-- TONGA -->
			<!-- TRINIDAD AND TOBAGO -->
			<!-- TUNISIA -->
			<!-- TURKEY -->
			<!-- TURKMENISTAN -->
			<!-- TURKS AND CAICOS ISLANDS -->
			<!-- TUVALU -->
			<!-- UGANDA -->
			<!-- UKRAINE -->
			<!-- UNITED ARAB EMIRATES -->
			<!-- UNITED KINGDOM -->
			<!-- UNITED STATES -->
			<!-- UNITED STATES MINOR OUTLYING ISLANDS -->
			<!-- URUGUAY -->
			<!-- UZBEKISTAN -->
			<!-- VANUATU -->
			<!-- VENEZUELA -->
			<!-- VIET NAM -->
			<!-- VIRGIN ISLANDS, BRITISH -->
			<!-- VIRGIN ISLANDS, U.S. -->
			<!-- WALLIS AND FUTUNA -->
			<!-- WESTERN SAHARA -->
			<!-- YEMEN -->
			<!-- ZAMBIA -->
			<!-- ZIMBABWE -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GroupMemberType">
		<xsd:complexContent>
			<xsd:extension base="core:AssetType">
				<xsd:sequence>
					<xsd:element name="MemberRef" type="core:AssetRefType"/>
					<xsd:element name="OrderNumber" type="Max65535Type" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:simpleType name="AudioTrackNumber">
		<xsd:annotation>
			<xsd:documentation>
				
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- 8.1.0 addition  -->
	<xsd:simpleType name="AudioTrackPlacement">
		<xsd:annotation>
			<xsd:documentation>
				Placement of audio for discrete audio
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="L"/>
			<xsd:enumeration value="R"/>
			<xsd:enumeration value="C"/>
			<xsd:enumeration value="LS"/>
			<xsd:enumeration value="RS"/>
			<xsd:enumeration value="LFE"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- 8.1.0 addition  -->
	<xsd:complexType name="AudioTrackType">		
		<xsd:simpleContent>
			<xsd:extension base="AudioTrackPlacement">
				<xsd:attribute name="trackNo" use="required" type="AudioTrackNumber"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="AudioTracksType">
		<xsd:sequence>
			<xsd:element name="SourceUrl" type="content:SourceUrlType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="AudioTrack" type="AudioTrackType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="required"/>
		<xsd:attribute name="embedded" type="xsd:boolean" use="optional" default="true"/>
		<xsd:attribute name="audioType" type="content:AudioTypeType" use="required"/>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="AudioLayoutType">
		<xsd:complexContent>
			<xsd:extension base="core:AssetType">
				<xsd:sequence>
					<xsd:element name="AudioTracks" type="AudioTracksType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:simpleType name="CaptionType">
		<xsd:annotation>
			<xsd:documentation>
				Specify whether captions/subtitle are true closed captions or subtitles
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CC">
				<xsd:annotation>
					<xsd:documentation>Close Caption - on-screen text specifically designed for hearing impaired viewers</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="SUB">
				<xsd:annotation>
					<xsd:documentation>Subtitles - direct transcription or translation of dialogue.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- 8.1.0 addition  -->
	<xsd:simpleType name="CaptionFormatType">
		<xsd:annotation>
			<xsd:documentation>A value representing a subtitling format. The value should come from one of the predefined choices (defined in the pattern) or prefixed with "private:".</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="(EBU_STL|EBU_TT|private:.+)"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="ClosedCaptionType">
		<xsd:sequence>
			<xsd:element name="SourceUrl" type="content:SourceUrlType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ContentFileSize" type="xsd:unsignedLong" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>File size (in bytes) of the included content for quality assurance and processing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ContentCheckSum" type="content:ChecksumType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>A string containing a hexadecimal number representing a MD5 (RFC 1321) message digest value for quality assurance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute ref="xml:lang" use="required"/>
		<xsd:attribute name="embedded" type="xsd:boolean" use="optional" default="false"/>
		<xsd:attribute name="format" type="CaptionFormatType" use="optional"/>
		<xsd:attribute name="type" type="CaptionType" use="required"/>
	</xsd:complexType>
	
	<!-- 8.1.0 addition  -->
	<xsd:complexType name="ClosedCaptionsType">
		<xsd:complexContent>
			<xsd:extension base="core:AssetType">
				<xsd:sequence>
					<xsd:element name="ClosedCaption" type="ClosedCaptionType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	

</xsd:schema>
